.img{
  display: block;
  margin: -16px auto;
  width:69%;
  height: 69%;
}
.table {
  top:8px;
  position: absolute;
  border: 5px solid #444444;
  background-color: #7e6f5d;
  z-index: 20;
  }
th, td {
  border: 5px solid #444444;
  padding:88px;
  background-color: #b29d84;
  }
#light_switch{
  cursor:pointer;
  z-index: 100;
  position: absolute;
  width:2.8%;
  left:1375px;
  top:268px;
}
#lock{
  cursor:pointer;
  z-index: 100;
  position: absolute;
  width:4.5%;
  left:749px;
  top:311px;
}
#abox{
  cursor:pointer;
  z-index: 100;
  position: absolute;
  width:11%;
  left:695px;
  top:603px;
}
#log{
  cursor:pointer;
  z-index: 100;
  position: absolute;
  width:9%;
  left:1149px;
  top:690px;
}
#table1{
  left:8px;
}
#table2{
  left:1695px;
}
.button{
  z-index: 100;
  width:65px;
  height:65px;
  border-radius: 40px;
  font-size:60px;
  color: red;
  outline: none;
  background-color: transparent;
  border: 0px;
}
.buttonr{
  position: absolute;
  top:450px;
  left:1600px;
}
.buttonl{
  position: absolute;
  top:450px;
  left:230px;

}
.button:hover{
  background:transparent;
  color:black;
}
.container{

  width:300vw;
  transition: transform 0.5s;
}
.inner{
  width:100vw;
  height:100vh;
  position: absolute;
  top:50%;
  transform:translate(-50%,-50%);
}
.inner.front{
  left:50%;
}
.inner.left{
  left:-50%;
}
.inner.right{
  left:150%;
}
.inner.back{
  display:none;
  left:250%;
}
.inner_img{
  display: block;
  margin: -16px auto;
  width: 69%
}
.dark{
  z-index:10;
  width:100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  left:0;
  top:0;
}

.switch{
  position: absolute;
  left: 30px;
  top: 30px;
  width:200px;
  border: white solid 1px;
  color:red;
}
